body {
    background: #233041;
    color: #ffffff;
}

form {
    max-width: 40em;
    margin: 2em auto;
}

input[type='submit'] {
    color: #ffffff;
    background: #66aaff;
    border: 0 none;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 1em auto;
}
